<%= form_with(model: track) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :track_number, style: "display: block" %>
    <%= form.number_field :track_number %>
  </div>

  <div>
    <%= form.label :album_id, style: "display: block" %>
    <%= form.text_field :album_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
