<div id="<%= dom_id album %>">
  <p>
    <strong>Name:</strong>
    <%= album.name %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= album.release_year %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= album.image_url %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist_id %>
  </p>

</div>
