<!DOCTYPE html>
<html>
  <head>
    <title>Levyloota</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="text-center">
      <h1>LEVYLOOTA</h1>
    </header>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
